.wrapprer-adchiement {
    display: flex;
    column-gap: 20px;
    margin: 0 0 20px 0;
}

.image-adchiement {
    width: 430px;
    object-fit: contain;
    margin: 0;
}

.title-adchiement {
    font-weight: 700;
    margin-bottom: 20px;
}

.des-adchiement {
    margin-bottom: 20px;
}

@media (max-width:1180px) {
    .image-adchiement {
        width: 100%;
    }

    .wrapprer-adchiement {
        flex-direction: column;
    }

}