.profile-container {
  width: 100%;
  max-width: 1340px;
  margin-top: 100px;
  padding: 20px;
}

.wrapper-profile {
  display: flex;
  column-gap: 50px;
  width: 100%;
}

.profile-container h2 {
  margin-bottom: 20px;
  color: #2469df;
}

.image-profile {
  margin: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.infor-user-profile {
  margin: 0;
  width: 100%;
}

.profile-card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.profile-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  flex-wrap: wrap;
  padding: 5px 0;
  border-bottom: 1px solid rgb(241, 239, 239);
}

.profile-field label {
  font-weight: bold;
  color: #333;
  width: 40%;
}

.profile-field p,
.profile-field input {
  width: 55%;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
}

.profile-field input {
  border: 1px solid #ccc;
  border-radius: 6px;
}

.profile-actions {
  /* text-align: center; */
  margin-top: 20px;
}

.profile-actions button {
  background: #2469df;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.profile-actions button:hover {
  background: #1a4fb5;
}

.edit-image {
  height: max-content;
  position: relative;
}

.btn-edit {
  position: absolute;
  border: 1px solid black;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  cursor: pointer;
  bottom: 10%;
  right: 5%;
  border-radius: 10px;
  background-color: rgb(226, 223, 223);
}

@media (max-width: 700px) {
  .profile-field {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-field label,
  .profile-field p,
  .profile-field input {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .wrapper-profile {
    flex-wrap: wrap;
  }
}