.patient-detail-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

.patient-card {
  border: 1px solid #333;
  border-radius: 6px;
  padding: 20px;
  background: #fff;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  color: #004080;
  margin: 15px 0;
}

.patient-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.info-left, .info-right {
  width: 48%;
  line-height: 1.8;
}
.insurance-block {
    display: flex;
    flex-direction: row;
    gap: 80px
}
.info-right {    
    display: flex;
    justify-content: space-around;
}
.infor-box .input-contry {
    width: 100px;
    margin-right: 20px;
}

.avatar {
  text-align: center;
  margin-top: 10px;
}

.avatar img {
  width: 120px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 4px;
  object-fit: cover;
}

.health-info p {
  margin: 8px 0;
  line-height: 1.6;
}
