.cpm-Button{
    width: 130px;
    height: 40px;
    background-color: #1250DC;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: #ffff;
    margin-left: 5px;
}
.cpm-Button:hover{
    background-color: blue;
}
.btn-booking-docter,.btn-viewMore,.cpm-viewMore{
  padding: 8px;
  margin: 0 10px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color:  #28c76f;
}
.btn-viewMore,.cpm-viewMore{
  background-color: #1250DC;
  text-decoration: none;
  color: #ffff;
}
.btn-viewMore{
  margin: 0;
}
.cpm-viewMore:hover{
  color: black;
}
.item-docter:hover .card {
    transform: rotateY(180deg);
}
.booking-home,.advise-home,.exit,.confirm{
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background-color: #28c76f;
  color: black;
  text-decoration: none;
  margin-top: 20px;
  cursor: pointer;
}
.booking-home:hover,.advise-home > a:hover{
  color: #ffff;
}
.advise-home{
  background-color: #1250DC;
  margin:0;
}
.exit{
  background-color: #EA5455;
  margin-right: 10px;
  width: 100px;
}.confirm{
  width: 100px;
  background-color: #1250DC;
}
.advise-home > a{
  text-decoration: none;
  color: black;

}

@media (min-width: 400px) and (max-width: 840px) {
  .cpm-Button{
    display: none;
  }
}
@media (min-width:768px) and (max-width:1023px) {
    .cpm-Button{
        width: 90px;
        height: 30px;
    }   
}
@media (min-width: 1024px) and (max-width: 1400px) {
  .cpm-Button{
        width: 90px;
        height: 30px;
    }   
}