.listdetail{
    width: 100%;
    overflow-x: hidden;
}
.columnpackage {
    line-height: 1.5;
    font-size: 16px;
    padding: 10px;
}
.columnpackage p {
    padding-left: 80px;
    width: 100%;
    border-bottom: 1.5px dashed #000;
    color: #6C757D;
}
.columnpackage span {
    padding-right: 10px;
    color: #000;
}
.rowpackage {
    display: flex;
    flex-direction: row;
    padding-bottom: 16px;
}
.rowpackage p {
    margin: 0;
}
.interacts {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: right;
    gap: 10px;
}