.container-sigupclinic{
    width: 100%;
    max-width: 1340px;
    margin-top: 100px;
}
.wrapper-sigclinic{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 20px;
}
.infor-clinic-first,.infor-clinic-second{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    column-gap: 20px;
    width: 100%;
}