.container{
    font-family: 'Inter';
    overflow: hidden;
}
.imageHeader{
    width: 100vw;
    height: 90px;
}
.bcg-Header{
    position: relative;
}
.logo-header{
    cursor: pointer;
}
.menuHeader{
    position: absolute;
    top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: -4%;
    right: -4%;
}
.Option-Header{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.Option-Header > li{
    padding: 0 10px;
    cursor: pointer;
    font-size: 15px;
}
.Option-Header > li:hover{
    color: #ffff;
}
.Search-Header{
    position: relative;
    margin-top: 6px;
}
.Search-Header-text{
    height: 35px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
    color: #6C757D;
    min-width: 70%;
    margin-left: 10px;
}
.text-Input,.fa-magnifying-glass{
    position: absolute;
    top: 25%;
    padding-left: 20px;
    color: #6C757D;
    font-size: 14px;
}
.fa-magnifying-glass{
    right: 31%;
    cursor: pointer;
    margin-top: 2px;
}
.Option-Address{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 8px;
  border-radius: 10px;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg fill='%23333' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  margin-left: 5px;
  outline: none;
  cursor: pointer;
}
select.Option-Address::-webkit-scrollbar {
  display: none; 
}
.fa-bars{
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    display: none;
}
@media (max-width: 500px){
   .Wrapper-Header,.Option-Header{
        display: none;
    }
   .fa-bars{
        display: block;
        font-size: 20px;
        margin-left: 30px;
    }
    .Search-Header-text,
    .text-Input,
    .fa-magnifying-glass{
        display: none;
    }
}
@media (min-width: 501px) and (max-width: 840px) {
    .menuHeader{
        padding: 0 20px;
    }
   .Option-Header{
        display: none;
    }
   .fa-bars{
        display: block;
        font-size: 20px;
        margin-left: 30px;
    }
    .Search-Header-text{
        width: 100%;
        margin-left: 0px;
    }
   .Option-Address{
        width: 100%;
        margin-left: 0px;
        margin-top: 6px;
    }
   .System-Option-Header{
        width: 100px;
    }
   .Search-Header{
        margin: 0 30px;
    }
   .fa-magnifying-glass{
        display: none;
    }
   .text-Input{
        margin-top: -7px;
    }
}
@media (min-width:841px) and (max-width:1023px) {
    .menuHeader{
        padding: 0 20px;
   }
   .logo-header{
        width: 100px;
   }
   .Option-Header > li{
        width: max-content;
   }
   .System-Option-Header{
        display: flex;flex-direction: column;row-gap: 5px;
   }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .Option-Header > li{
    width: max-content;
   }
   .System-Option-Header{
        display: flex;flex-direction: column;row-gap: 5px;
   }
   .menuHeader{
        padding: 0 20px;
   }
}

