.historyContainer {
  padding: 20px;
  width: 100%;
  max-width: 1360px;
  margin-top: 100px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h2 {
  margin-bottom: 20px;
}

.tableResponsive {
  width: 100%;
  overflow-x: auto;
}

.historyTable {
  width: 100%;
  border-collapse: collapse;
}
.tableResponsive::-webkit-scrollbar {
  display: none !important;
}
.historyTable th,
.historyTable td {
  padding: 12px 15px;
  text-align: left;
  white-space: nowrap;
}
.historyTable tr:hover {
  background-color: #fbf7f7;
}
.historyTable thead {
  border: 1px solid #2469df;
  border-radius: 10px;
  color: black;
}

.historyTable tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

.statusDone {
  color: green;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  animation: slideDown 0.3s ease;
}

.modalContent table {
  width: 100%;
  border-collapse: collapse;
}

.modalContent th,
.modalContent td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.modalContent .total {
  margin-top: 15px;
  font-weight: bold;
  color: #dc3545;
}

.modalContent button {
  background: #007bff;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

@keyframes slideDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .historyTable th,
  .historyTable td {
    font-size: 14px;
    padding: 8px;
  }

  .modalContent {
    padding: 15px;
  }
}
