.patient-edit-container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 15px;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #2c3e50;
  
}
p{
  padding: 5px;
  background-color: #60b4ed;
  border-radius: 5px;
  font-style: italic;
}
.s{
color: red;
}
.form-box {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.grid-4col {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.grid-2col {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.form-col label {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}

.form-col input,
.form-col select,
.form-col textarea {
  width: 100%;
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 4px;
  font-size: 14px;
}

.row-inputs {
  display: flex;
  gap: 8px;
}

/* Nút chọn ảnh dưới avatar */
.avatar-col {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
.avatar-square {
  width: 120px;
  height: 120px;
  border-radius: 8px; /* vuông bo nhẹ */
  object-fit: cover;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
/* Toast hiển thị giữa màn hình */
.Toastify__toast-container {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.upload-btn {
  display: inline-block;
  background: #3498db;
  color: #fff;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
}
.upload-btn input {
  display: none;
}

.button-group {
  text-align: center;
  margin-top: 20px;
}

.btn {
  padding: 8px 14px;
  margin: 0 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.btn-blue {
  background: #3498db;
  color: #fff;
}
.btn-blue:hover { background: #2980b9; }

.btn-gray {
  background: #bdc3c7;
  color: #2c3e50;
}
.btn-gray:hover { background: #95a5a6; }
