.bodysidebar {
    width: 244px;
    height: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #2469DF;
    gap: 10px;
    padding: 10px;
    border-top: 1px solid #000;
}
.browseClinic,
.browseDoctor,
.manageClinic {
    width: 244px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    background-color: #2469DF;
    border: none;
    color: inherit;
    text-decoration: none;
    
    &:hover {
        background-color: #1250DC;
        cursor: pointer;
    }

    &:focus-within {
        background-color: #1250DC;
    }
}
.rotate {
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
}
.manage {
    width: 224px;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}
.submenu {
    width: 192px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.createPackage,
.managePackageList,
.overviewStatistics,
.revenueStatistics {
    width: 192px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 10px;
    background-color: #2469DF;
    border: none;
    color: inherit;
    text-decoration: none;

    &:hover {
        background-color: #1250DC;
        cursor: pointer;
    }

    &:focus-within {
        background-color: #1250DC;
    }
}
.managePackage,
.reportStatistics {
    width: 264px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    background-color: #2469DF;
    border: none;
    color: inherit;
    text-decoration: none;
    
    &:hover {
        background-color: #1250DC;
        cursor: pointer;
    }

    &:focus-within {
        background-color: #1250DC;
    }
}