.header {
    position: absolute;
    right: 0;
    width: 1176px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    gap : 25px;
    margin-left: auto ;
}
