.containertable {
    width: 1156px;
    max-height: 480px;
    display: flex;
    flex-grow: 1;
}
#customers {
    width: 100%;
    border-collapse: collapse;
}
#customers thead {
    background-color: #F3F6FA;
}
#customers th {
    border-right: 1px solid #6C757D;
    padding-left: 10px;
    text-align: left;
    height: 60px;
}
#customers td {
    padding-left: 10px;
    text-align: left;
    height: 40px;
    color: #6C757D;
}
.actis {
    gap: 20px;
    display: flex;
}
.acti {
    border-radius: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover{
        background-color: #D9D9D9;
    }
}
#customers tbody tr {
    &:hover{
        background-color: #D9D9D9;
    }
}
