.wrapper-calldocter-doctor {
  max-width: 280px;
  margin-right: 20px;
}
.container-calldocter-doctor {
  margin-top: 20px;
  padding: 0;
}
.calldoctor-title {
  font-size: 22px;
  transform: translateY(-20px);
}
.activiti-calldocter-doctor {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2ecc71;
  right: -5%;
  bottom: 0%;
}
.name-hour-calldocter-doctor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 7px;
}
